h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  
  label {
    font-weight: bold;
    font-size: 1.2rem;
    display: block;
    margin-bottom: 0.5rem;
    color: #fff;
  }
  
  input[type="text"],
  textarea {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    border: none;
    background-color: #333;
    color: #fff;
    margin-bottom: 1rem;
    width: 100%;
  }
  
  button[type="submit"] {
    padding: 0.5rem 1rem;
    background-color: #28a745;
    color: #fff;
    border-radius: 0.25rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button[type="submit"]:hover {
    background-color: #218838;
  }
  
  form {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    margin: 0 auto;
    color: #fff;
  }
  