body {
  background-color: #121212;
  color: #fff;
  font-family: Arial, sans-serif;
}

.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 36px;
  margin-bottom: 30px;
}

.modal {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #333;
  padding: 20px;
  max-width: 800px;
  width: 100%;
  max-height: 80vh;
  overflow-y: auto;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modal-header h1 {
  font-size: 28px;
}

.modal-header button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 28px;
  cursor: pointer;
}

.artigos-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.artigo {
  margin-bottom: 30px;
}

.artigo h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.artigo p {
  font-size: 16px;
  margin: 0;
}
